@using RDH2.Web.DataModel.Model;
@model List<Activity>

@{
    ViewBag.Title = "RDH2.COM | Home";
}

<div class="left-content">
    <h2>welcome</h2>
    <p>Welcome to the RDH2.COM web site.  This is the personal site of the Herrick Family: Robert, Ildiko, and Ashwyn.</p>
    <h3>who are we?</h3>
    <p>
        I am Robert D. Herrick II, and this is the web site that I have put together for my family.  Ildiko R. Herrick is my 
        wife and the mother of my son Ashwyn K. Herrick.  There is plenty that we can say about ourselves, and you can find
        more about us by clicking the ABOUT link above.
    </p>
    <h3>what can I find here?</h3>
    <p>
        Both Ildiko and I write blog posts, which you can find by clicking the POSTS link above.  The most recent posts 
        are in the column to the right.  Click on the title to read the post.  Also, if you would like to see pictures 
        or videos (mostly of Ash), click on the GALLERIES link above or the most recent gallery updates in the column 
        to the right.  We would like to hear from you, so if you would like to contact us, please email using the CONTACT 
        link above.
    </p>
</div>
<div class="right-content">
    <h2>recent activity</h2>
    
    @foreach (Activity activity in this.Model)
    {
        @Html.Partial("ActivityLinkPartial", activity);
    }
</div>
