@{
    ViewBag.Title = "RDH2.COM | About";
}

<h2>About Robert D. Herrick II and Family</h2>
<h3>The Early Years:</h3>
<p>
    It was a dark and stormy night when I was born.  Born and raised in Los Angeles, California, 
    I quickly learned that science would be my calling.  My early years are fuzzy, really, so 
    I'll skip forward a bit.  In high school, I tended to gravitate toward Biology, and so started
    college with the idea of being a geneticist.  
</p>
<h3>The College Years:</h3>
<p>
    I attended University of California, San Diego and found that biology was a lot less interesting
    than I thought it was.  What bothered me about Biology was that I always learned the <b>what</b> 
    of science and not usually the <b>why</b>.  I briefly flirted with the idea of majoring in Philosophy
    or Music, but I was informed by my parents that neither of those would be lucrative as a career.  
    Being a sucker for money, I immediately changed my major to Chemistry.  I was able to obtain a position
    in a laboratory where I worked on electrochemical fabrication of semiconductors.  That was the most 
    fun that I had had in my life, which persuaded me to pursue further education in Chemistry.
    I graduated in 1993 with a B.S. in Chemistry.  My GPA was pretty bad, truth be told, but I had really
    had a good time in San Diego.
</p>
<h3>Graduate School:</h3>
<p>
    After graduating from UCSD, I took my cat and all my possessions (which weren't much) all the way 
    across the country to attend graduate school in Athens, GA at the University of Georgia.  The South 
    is an...interesting...place.  Let's be honest here.  I didn't like it, and it didn't like me.  However, 
    I was there to work on more electrochemistry, and that kept me busy.  Well, mostly busy.  Not as busy
    as my graduate advisor would have liked.  Either way, I graduated with a Ph.D. in Chemistry in 1998.  
</p>
<h3>Living as a Real Human Being:</h3>
<p>
    Now I was at a crossroads in my life.  I had to figure out how to support myself in this cruel world.
    Surprisingly, this is where I made a massive shift.  In graduate school, I had to do some programming.
    It wasn't much, but that led me to think that I could be a programmer.  Hell, how hard could it be to 
    break into the industry?  Believe it or not, I was able to persuade a guy to give me a chance...and I 
    was a programmer.  I worked long hours and spent nights reading about software engineering.  The 
    crazy thing was...I loved it.  I really had found my true passion.  Now I do this stuff for fun (and 
    profit, of course), and have a great time.  
</p>
<h3>All the Rest:</h3>
<p>
    So what else is there about myself outside of work?  Well, I have a wonderful wife named Ildiko who
    keeps me centered and happy.  For some reason, she doesn't even mind it when I spend the weekend 
    programming (at least, she doesn't say anything about it).  I also have a son named Ashwyn who is 
    just a wee baby at the time of this writing.  For relaxation, I also love to read.  My Kindle is 
    one of my best friends.  I read quite a bit of fantasy and science fiction, with a healthy smattering 
    of programming books on the side.  Life is fairly good for us.
</p>
